{% extends 'base.html' %}

{% block content %}
<div class="panel">
    <div class="jumbotron text-center">
        <h1>Welcome!</h1>
        <p>Welcome to us</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a href='/search-text'>
                    <h3>Search By Text</h3>
                    <p>Lorem ipsum dolor..</p>
                </a>
            </div>
            <div class="col-sm-6">
                <a href='/search-image'>
                    <h3>Search By Image</h3>
                    <p>Lorem ipsum dolor..</p>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
 